<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contato</h1>
            <p class="text-center lead">Crie ou edite seu contato abaixo.</p>

            <%- include('includes/messages'); %>

            <!-- Para evitar com que criamos vários usuários com o mesmo perfil -->
            <% if(contato._id) { %>
            <form class="form-cadastro" action="/contato/edit/<%= contato._id %>" method="POST">
            <% } else { %>
            <form class="form-login" action="/contato/register" method="POST">
            <% } %>
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="mb-3">
                  <label>Nome</label>
                  <input value="<%= contato.nome %>" type="text" class="form-control" name="nome">
                </div>
                <div class="mb-3">
                    <label>Sobrenome</label>
                    <input value="<%= contato.sobrenome %>" type="text" class="form-control" name="sobrenome">
                    </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input value="<%= contato.email %>" type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                    <label>Telefone</label>
                    <input value="<%= contato.telefone %>" type="tel" class="form-control" name="telefone">
                  </div>
                
                
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>